# Ultralytics requirements
# Example: pip install -r requirements.txt
# Base ----------------------------------------
lapx
matplotlib>=3.9.1
numpy==1.26.4 # pinned by Snyk to avoid a vulnerability
opencv-python>=4.10.0.84
pillow>=10.4.0
pyyaml>=6.0.1
requests>=2.32.3
scipy>=1.14.0
torch>=2.4.0
torchvision>=0.19.0
tqdm>=4.66.4

# Logging -------------------------------------
comet-ml

# Plotting ------------------------------------
pandas>=2.2.2
seaborn>=0.13.2
shapely>=2.0.5

# Export --------------------------------------
# coremltools>=6.0,<=6.2  # CoreML export
onnx>=1.16.1 # ONNX export
onnxruntime>=1.18.1; python_version != '3.9' and sys_platform >= 'darwin' and platform_machine != 'arm64'
onnxruntime-gpu>=1.18.1; sys_platform != 'darwin'
onnxslim>=0.1.32  # ONNX slimming
tensorrt;sys_platform != 'darwin'
# nvidia-pyindex; sys_platform != 'darwin' and sys_platform != 'arm64' # TensorRT export
# nvidia-tensorrt; sys_platform != 'darwin' and sys_platform != 'arm64' # TensorRT export
# scikit-learn>=0.19.2  # CoreML quantization
# tensorflow>=2.4.1  # TF exports (-cpu, -aarch64, -macos)
# tflite-support
# tensorflowjs>=3.9.0  # TF.js export
# openvino-dev>=2023.0  # OpenVINO export

# Extras --------------------------------------
psutil  # system utilization
py-cpuinfo  # display CPU info
ultralytics-thop>=2.0.0  # FLOPs computation
# ipython  # interactive notebook
# albumentations>=1.0.3  # training augmentations
pycocotools>=2.0.8 # COCO mAP
hub-sdk>=0.0.8  # PyTorch Hub
vidgear[asyncio]
deffcode
PySide6>=6.7.2
simplejpeg
timm
einops
supervision
onnx_graphsurgeon
# paddle2onnx
# loguru
# rich_click

# roboflow